.main-bg-color {
    background-color: var(--blue-primary);
}

.content-bg-color {
    background-color: var(--blue-ligth);
}

.white-text-color {
    color: var(--white);
}

.grey-text-color {
    color: var(--color-brand-2)
}

.transparent {
    background-color: transparent;
}

.gradiente-color {
    background-color: var(--gradiente);
}

.bg-brand-1 {
    background-color: var(--color-brand-0);
}

.bg-brand-2 {
    background-color: var(--color-brand-1);
}

.swiper-wrapper:nth-child(3) {
    display: flex;
    gap: 35vw;
}