.container {
    background-color: rgba(57, 61, 94, 1);
    width: 200px;
    height: 86px;
    border-radius: 20px;
    height: fit-content;
    font-weight: 400;

}

button {
    background-color: transparent;
}

button:focus {
    outline: none;
}

.container0 {
    gap: 5px;
}

.container2 {
    color: rgba(255, 255, 255, 0.25);
    justify-content: space-around;
}

.container2 p {
    font-weight: bold;
    font-size: 12px;
}

.container3 {
    color: rgba(255, 255, 255, 0.25);
    justify-content: center;
    padding: 0px 12px 0px 12px;
    align-items: flex-start;
    font-size: 14px;
    gap: 5px;
}

.container3 p {
    flex-grow: 1;
    font-weight: bold;
}