button::placeholder {
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    font-weight: var(--weight-3);

}

.customButton {
    display: flex;
    justify-content: center;
    background-color: #1D203E;
    color: #fffbfb;
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    font-weight: var(--weight-3);
    width: 213px;
    height: 25px;
    top: 556px;
    left: 767px;
    border-radius: 5px;
    gap: 10px;
    font-size: 16px;

}