.container {
    display: flex;
    width: 100%;
    background-color: rgba(29, 32, 62, 1);
    max-height: fit-content;
    min-height: 100vh;
}

.sidebar {
    max-width: fit-content;
    z-index: 1;
}

.content {
    margin: 1rem;
    gap: 2rem;
    row-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 15vw;
}

.content *> {
    margin: 4rem;
}

.navB {
    position: fixed;
    transition: width 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

/* .navB {
    display: flex;
} */
.titulo {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 15vw;
    color: var(--white);
}

.titulo div div {
    width: fit-content;
    min-width: 1vw;
}

@media (max-width: 660px) {
    .navB {
        position: fixed;
        transition: width 0.3s;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navB .figures {
        background-color: aqua;
    }

    .responsiveSidebar {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .container {
        display: flex;
        max-height: max-content;
        flex-direction: column;
    }

    .content {
        margin-top: 65px;
        row-gap: 5vw;

    }

}