.container {
    display: flex;
    width: 100%;
    background-color: rgba(29, 32, 62, 1);
    max-height: fit-content;
    min-height: 100vh;
}
.navB {
    display: none;
}

.sidebar {
    max-width: fit-content;
    z-index: 1;
}


.content {
    gap: 2rem;
    row-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 12vw;
    width: 100%;
    background-color: rgba(29, 32, 62, 1);
}

.main {
    width: 100%;
    gap: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainDiv {
    width: 40%;
}

.content *> {
    margin: 4rem;
}

/* .navB {
    display: flex;
} */
.titulo {
    width: 100%;

    text-align: center;
    gap: 15vw;
    color: var(--white);
}

.titulo div div {

    width: fit-content;
    min-width: 1vw;
}

@media (max-width: 660px) {
    .sidebar{display: none;}
    .navB {
        position: fixed;
        transition: width 0.3s;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main {
        row-gap: 10vw;
    }

    .mainDiv {
        width: 80%;
    }

    .container {
        display: flex;
        max-height: max-content;
        flex-direction: column;
    }

    .content {
        margin-top: 25vw;
        row-gap: 10vw;


    }

}