.sidebar {
    width: 250px;
    max-height: 844px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}



input::placeholder {
    font-family: var(--font-family-2);
    font-weight: bold;
    text-decoration: dotted;
    font-size: var(--font-size-3);
}

.userInfo {
    gap: 4px;
    height: 44px;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    padding-left: 15px;
}

.searchContent {
    background-color: transparent;
    border-color: red;

}

.searchBar {
    padding: 0px 8px 0px 15px;
}

nav {
    padding: 0px 8px 0px 15px;
}

.footer {
    height: 72px;
    background-color: rgba(29, 32, 62, 1);
    width: 100%;
    border-bottom-left-radius: 20px;
    gap: 12px;
    padding: 10px;
}

.userImg {
    border: 1px solid black;
    border-color: rgba(167, 62, 231, 1) rgba(0, 235, 255, 1);
    background-size: cover;
    overflow: hidden;
    border-radius: 100%;
}

.formSearch {
    row-gap: 8px;
}

.campoFiltros {
    margin-bottom: 79%;
    padding-left: 15px;
    border-radius: 5px;
}