.sidebar {
    width: 250px;
    max-height: 844px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.buttonSearch {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.buttonSearch:hover {
    background-color: var(--color-brand-1);
    /* Nova cor de fundo quando o mouse está sobre o botão */

}

input::placeholder {
    font-family: var(--font-family-2);
    font-weight: bold;
    text-decoration: dotted;
    font-size: var(--font-size-3);
}

.userInfo {
    gap: 4px;
    height: 44px;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    padding-left: 15px;

}

.userImg {
    border: 1px solid black;
    border-color: rgba(167, 62, 231, 1) rgba(0, 235, 255, 1);
    background-size: cover;
    overflow: hidden;
    border-radius: 100%;
}

.inputSearch {
    font-family: var(--font-family-3);
    font-weight: bold;
    color: whitesmoke;
    transition: background-color 0.3s ease;

}



.inputSearch:focus {
    color: white;
    font-weight: 700;
    background-color: var(--color-brand-1);
    font-family: var(--font-family-2);
}

.searchBar {
    padding: 0px 8px 0px 15px;
}

.footer {
    height: 72px;
    background-color: rgba(29, 32, 62, 1);
    width: 100%;
    border-bottom-left-radius: 20px;
    gap: 12px;
    padding: 10px;
}



.formSearch {
    row-gap: 8px;
    padding-left: 15px;
}

.campoFiltros {
    margin-bottom: 79%;
    border-radius: 5px;
}