input::placeholder {
    font-family: var(--font-family-2);
    font-size: var(--font-size-3);
    font-weight: var(--weight-3);

}

.input {
    height: fit-content;
    width: 215px;
    max-width: 215px;

}

.span {
    max-width: 45px;
}