.card2{border-radius: 5px;}
.card2 .banner {
    width: 12rem;height: 6rem;
    border-radius: 5px 5px 0 0;
}

.card2:hover{
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
