.container {
    display: flex;
    width: 100%;
    background-color: rgba(29, 32, 62, 1);
    max-height: fit-content;
    min-height: 100vh;
}



.sidebar {
    max-width: fit-content;
    z-index: 1;
}

.content {
    margin: 1rem;
    row-gap: 10px;
    display: grid;
    justify-items: center;
    overflow: hidden;
}

.title {
    justify-self: start;

}



.navB {
    display: none;
}

.carrosel {
    width: 100vw;
    height: 14rem;
}

.carrosel:nth-child(1) {
    width: 100vw;
    height: 20rem;
}

.carrosel:nth-child(3) {
    width: 100vw;
    height: 16rem;
}

.carrosel>* {
    margin-top: 15px;
}



@media (max-width: 660px) {
    .navB {
        position: fixed;
        transition: width 0.3s;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    /* .carrosel:nth-child(3) .swiper-wrapper {
        display: flex;
        gap: 150px;
        background-color: aqua;

    } */

    .responsiveSidebar {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .container {
        display: flex;
        max-height: max-content;
        flex-direction: column;
    }

    .content {
        margin-top: 15vh;
        row-gap: 5vw;
    }

}