.fields {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
    font-family: var(--font-family-1);
    font-weight: bold;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.5);
    padding: 9px 0px 0px 12px;

}
